
            {{ form_start(form) }}
            <div class="row">
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            </div>
            <div class="row">
            {{ form_row(form.email) }}
             {{ form_row(form.username) }}
            </div>
            <div class="row">
            {{ form_row(form.password) }}
            {{ form_row(form.roles) }}
            </div>
             <button class="btn btn-login btn-sm ">{{ button_label|default('Créer') }}</button>
             {{ form_end(form) }}
   